<div class="login-box-body">
    @model CountryClubMVC.ViewModels.LoginViewModel

    @{
        ViewBag.Title = "Login";
        Layout = "~/Views/Shared/_Login.cshtml";
    }
    @{
         CountryClubMVC.Models.User prevUser = new CountryClubMVC.Models.User();

        prevUser = (CountryClubMVC.Models.User)HttpContext.Current.Session["User"];
        prevUser = null;


    }
    <p class="login-box-msg">Sign in to start your session</p>
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    @using (Html.BeginForm("Login", "Users", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="form-group has-feedback">
            @Html.TextBoxFor(model => model.Username, new { @class = "form-control", placeholder = "Username" })
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
        </div>
        <div class="form-group has-feedback">
            @Html.PasswordFor(model => model.Password, new { @class = "form-control", placeholder = "Password" })
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <div class="checkbox icheck">
                    <label>
                        <input type="checkbox"> Remember Me
                    </label>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-xs-4">
                <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
            </div>
            <!-- /.col -->
        </div>

    }


    <a href="../Users/Register" class="text-center">Not Registered?</a><br />
    <a href="#">I forgot my password</a><br>
</div>

